body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cine-scope{
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap: 20px;
    padding: 20px;
}
.wait-div{
     background-color: white;
     /* padding: 20px; */
    margin-top: 20px;
    margin-bottom: 40px;
    /* width: 900px;  */
    background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?auto=format&fit=crop&w=2000&q=85');
    background-size: cover;
    background-position: center;
}
.logo-scope{
    display: flex;
    gap: 20px;
    align-items: center;
    border-bottom: 1px solid white;
    
}

.Home-div{
    display: flex;
    gap: 20px;
    margin-right: 50px;
    
}
.header,.info{
    margin-left: 50px;
}

.input-movie{
    display: flex;
    gap: 30px;
    margin-left: 30px;
    margin-top: 100px;
}
.movies-input{
    width: 400px; 
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: var( --color-surface);
    color: white;
}

.chip{
    width: 20px;
}
.movie-flier1{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.movie-flier1 div{
    background-color: var(--color-text-secondary);
     border-radius: 10px;
}
.movie-flier1 img{
    padding: 10px;
}
.movie-flier1 p{
    color: var(--color-accent);
    margin-left: 20px;
    
}
.movie-flier1 h4{
    margin-left: 20px;

}
.horse{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    color: var(--color-accent);
}
.horse:hover{
    background-color: var(--color-accent);
    padding: 5px;
    border-radius: 10px;
    width: 20px;
}
footer span p{
    color: rgb(232, 232, 140);
}
.genre{
    background-color: var(--color-accent);
     padding: 0px;
    width: 100px;
    border-radius: 5px;
    border: none;
}